#cycler{position:relative;}
#cycler img{position:absolute;z-index:1}
#cycler img.active{z-index:3}

#home, #cycler {
	text-align: center;
	width:600px;
	height: 600px;
	margin-bottom: 50px;
}

#shadow {
	box-shadow: 10px 10px 5px grey;
}


#picture {
	text-align: center;
	}
	
#bold {
margin-top: 30px;
}
	
#rotateone {
   -webkit-transform: rotate(355deg);
    -moz-transform: rotate(355deg);
    -o-transform: rotate(355deg);
    -ms-transform: rotate(355deg);
    transform: rotate(355deg);
}

#rotatetwo {
  -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}

#rotatethree {
  -webkit-transform: rotate(355deg);
    -moz-transform: rotate(355deg);
    -o-transform: rotate(355deg);
    -ms-transform: rotate(355deg);
    transform: rotate(355deg);
}

#home img {
	height: 100%;
}



h1 { 
	color: black;
	text-align: left;
}

#header {
font-family: 'Georgia';
}

#header {
padding-top: 20px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 10px;
}

#header h1 {
margin-left: 70px;
}

.title {
margin-top: 40px;
background-color: #E6E6E6;
padding-top: 15px;
padding-bottom: 15px;
}

.title .h1 {
font-weight: 100px;
}

#header img {
border-radius: 60px;
margin-left: 30px;
}

#header li {
display: inline;
margin: 0 0.5em 0 0;
}

#header ul {
	list-style: none;
	padding:50;
	float: left;
	font-size: 18px;
}

#header li a {
	padding: 0 1em;
}

#header #selected {
	padding-bottom: 1px; 
	background-color: #D8D8D8;
	border-radius: 10px;
}

#example {
margin-left: 50px;
margin-top: 70px;
font-family: 'Georgia';
text-align: center;
}


.container {
padding-top: 0px;
padding-bottom: 30px;
padding-left: 30px;
padding-right: 30px;
font-family: georgia;
margin-left: 30px;
}

#end {
font-family: 'Georgia';
}

.container #contact {
text-align: center;
}
#wholecontact {
margin-bottom: 130px;
}

.row {
margin-top: 20px;
margin-bottom: 30px;
}

#contact {
margin-top: 50px;
margin-bottom: 50px;
}

#submit {
text-align: center;
}



